.listofwork{
margin-left: 10%;
  border: 5px solid black;
}
body{
  margin-left: 10%;
}


@media screen and (max-width: 768px){
        body {

         background-color: red;
         animation-name: example;
         animation-duration: 10s;
          animation-iteration-count: 900000;
        }
        @keyframes example {
          0%   {background-color: red;}
          25%  {background-color: yellow;}
          50%  {background-color: blue;}
          75% {background-color: green;}
          100% {background-color: red;}
        }
      }
img{
  float: right;
  width: 300px;
  height: 400px;
}
